body
{
    background-color: blue;

}
.firstPage
{
    background-image: url("code.jpg");
    padding: 2% 2%;
    text-align: center;
   
}
.beg
{
    color:white;
    font-size: 3rem;
    font-weight: 900;
}
.abs
{
    position: absolute;
}
.quote
{
    text-align: center;
    padding: 2% 2%;
    font-style: italic;
}
.row1
{
    background-color: #e7e7e7;
    text-align: center;
    padding: 2% 2%;
}
.img1
{
    width: 100%;
}
.img2
{
    width: 100%;
}
.vid
{
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; 
}
.vid iframe{
    top:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.cols
{
    margin-bottom: 2%;
}
.MS h3
{
    padding: 2%;
    text-align: center;
    background-color: #ffffff;
    font-weight: 700;
    margin-bottom: 0;
}
.Benefits   
{
    background-color: #ffffff;
    margin-bottom: 0;
    padding: 2% 12%;
}
.Benefits li
{
    font-size: 1.25rem;
}
.img3
{
    width: 100%;
}