body
{
    background-color: blue;

}
.firstPage
{
    background-image: url("code.jpg");
    padding: 2% 2%;
    text-align: center;
   
}
.beg
{
    color:white;
    font-size: 3rem;
    font-weight: 900;
}
.abs
{
    position: absolute;
}
.quote
{
    text-align: center;
    padding: 2% 2%;
    font-style: italic;
}
.row1
{
    background-color: #e7e7e7;
    text-align: center;
    padding: 2% 2%;
}
.img1
{
    width: 100%;
}
.img2
{
    width: 100%;
}